.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
  padding: 1rem;
  background-color: aliceblue;

}

table {
  position: relative;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color:grey;
  font-size: smaller;
}

td {
  background-color:thistle;
  font-size: 20px;
}

form {
  display: flex;
  gap: 5px;
  background-color: beige;
  margin: 10px 5px;
  font-size: 20px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}


.input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 5px ;
  height: 10px;
  width: 150px;
  font-size: smaller;
}

.submitButton {
  padding: 10px;
  width: 80px;
  height: 40px;
  font-size: smaller;
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}